@import url(../styles/fonts.css);

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.body {
  margin: 0;
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Inter', 'Arial', sans-serif;
}

.header {
  border: solid 1px red;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  position: relative;
  overflow: hidden;
}

.header__text {
width: 730px
}

.logo__place_header {
  border: solid 1px red;
  width: 228px;
  height: 32px;
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  border: solid 1px red;
  font-size: 102px;
  font-weight: bold;
  line-height: 96px;
  width: 730px;
  margin: auto 64px;
  z-index: 3;
}

.header__subtitle {
  border: solid 1px red;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  z-index: 3;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
}

.header__square-pic {
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  margin-top: 64px;
  z-index: 1;
  animation: rotation 20s linear infinite;
}

.content {
  display: flex;
  flex-direction: column;
}

.techniques {
  border: solid 1px red;
  padding-top: 100px;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.cards {
  border: solid 1px red;
  width: 920px;
  display: grid;
  grid-template-columns: 240px 240px 240px;
  grid-column-gap: 100px;
  margin-left: auto;
  margin-right: auto;
}

.cards__item {
  border: solid 1px red;
  display: flex;
  flex-direction: column;
}

.cards__image {
  border: solid 1px red;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin: 60px 40px 0 40px;
  overflow: hidden;
}

.cards__image img {
  height: 100%;
  width: 100%;
}

.cards__title {
  border: solid 1px red;
  font-size: 24px;
  line-height: 1.15;
  font-weight: 700;
  margin-top: 43px;
  text-align: center;
}

.cards__description {
  border: solid 1px red;
  font-size: 18px;
  line-height: 23px;
  font-weight: normal;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 0;
}

.description {
  border: solid 1px red;
  padding-top: 100px;
}

.two-columns {
  border: solid 1px red;
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
}

.two-columns__brief {
  font-size: 18px;
  line-height: 1.2;
  color: #2f80ed;
  width: 175px;
  border: solid 1px red;
  margin: 0;
}

.two-columns__main-text {
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  border: solid 1px red;
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  border: solid 1px red;
  margin: 0;
}

.span-accent {
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
}

.digits {
  border: solid 1px red;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.table {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: solid 1px red;
  z-index: 2;
}

.table__cell {
  width: 250px;
  border: solid 1px red;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
  margin-top: 60px;
  z-index: 2;
}

.heading {
  border: solid 1px red;
  font-size: 24px;
  line-height: 1.15;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

.text_no-margin {
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 0;
}

.text {
  border: solid 1px red;
  font-size: 18px;
  line-height: 1.2;
  margin-top: 20px;
  margin-bottom: 0;
}

.video {
  border: solid 1px red;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 100px;
}

.iframe {
  margin-top: 50px;
  position: relative;
  bottom: -60px;
}

iframe:nth-of-type(2n) {
  margin-left: 20px;
}

.oakley {
  border: solid 1px red;
  background-color: #f2f2f2;
  padding-top: 160px;
}

.feynman {
  border: solid 1px red;
  height: 890px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #f2f2f2;
  position: relative;
  z-index: 1;
  padding-top: 100px;
  /*overflow: hidden;*/
}

.feynman__title {
  border: solid 1px red;
  font-size: 120px;
  line-height: 1.15;
  font-weight: 700;
  width: 648px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  z-index: 2;
}

.feynman__subtitle {
  border: solid 1px red;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  z-index: 2;
}

.feynman__link {
  border: solid 1px red;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
  position: absolute;
  right: 48px;
  bottom: 50%;
}

.feynman__image {
  border: solid 1px red;
  width: 867px;
  height: 637px;
  background-image: url(../images/feynman.png);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.khan {
  border: solid 1px red;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
}

.container {
  border: solid 1px red;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.author {
  border: solid 1px red;
  font-size: 30px;
  line-height: 42px;
  font-weight: normal;
  margin: 0;

}

.title {
  border: solid 1px red;
  font-size: 60px;
  line-height: 1.15;
  font-weight: 700;
  margin: 0;
}

.quote {
  border: solid 1px red;
  width: 790px;
  margin-top: 50px;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
}

.quote-author {
  border: solid 1px red;
  margin-top: 36px;
  font-size: 24px;
  line-height: 1.15;
  font-weight: 700;
}

.quote-author-subline {
  border: solid 1px red;
  margin-top: 10px;
  font-size: 24px;
  line-height: 1.15;
  font-weight: normal;
}

.book-container {
  border: solid 1px red;
  display: flex;
  flex-direction: row;
  margin-top: 68px;
}

.book-pic {
  border: solid 1px red;
  width: 620px;
  height: 608px;
  background-image: url(../images/khan-book.jpg);
}

.buy-link {
  border: solid 1px red;
  color: #2f80ed;
  text-decoration: none;
  text-align: left;
  margin-left: 48px;
  font-size: 30px;
  line-height: 42px;
  font-weight: normal;
}

.margin-bottom {
  margin-bottom: 30px;
}

.kaufman {
  border: solid 1px red;
  background-color: #1f1f1f;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 90px;
  padding-bottom: 90px;
  position: relative;
  overflow: hidden;
}

.section-title {
  border: solid 1px red;
  font-size: 60px;
  line-height: 1.15;
  font-weight: bold;
  width: 60%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 0;
}

.section-title_theme_dark {
  color: white;
}

.section-subtitle {
  border: solid 1px red;
  font-size: 24px;
  line-height: 35px;
  font-weight: normal;
  width: 60%;
  display: flex;
  justify-content: center;
  position: relative;
  margin: 0;
}

.section-subtitle_theme_dark {
  color: white;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-top: 80px;
  z-index: 2;
}

.triangle {
  border: solid 1px red;
  background-image: url(../images/kaufman-triangle.svg);
  background-size: contain;
  width: 877px;
  height: 877px;
  position: absolute;
  top: -20px;
  right: -210px;
  animation: rotation 20s linear infinite;
  z-index: 1;
}

.resources {
  border: solid 1px red;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  padding-bottom: 217px;
}

.logo-zone {
  border: solid 1px red;
  width: 1100px;
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.logo {
  border: solid 1px red;
  width: 270px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.footer {
  border: solid 1px red;
  width: 90%;
  min-height: 350px;
  background-color: #1f1f1f;
  padding-top: 60px;
  padding-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: nowrap;
}

.columns {
  border: solid 1px red;
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 250px;
  margin: auto;
  position: relative;
}

.footer__columns_copyright {
  border: solid 1px red;
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
}

.footer__columns_info {
  border: solid 1px red;
}

.footer__columns_social {
  border: solid 1px red;
}

.logo__place_footer {
  width: 228px;
  height: 32px;
}

.author {
  border: solid 1px red;
  color: white;
  display: flex;
  position: absolute;
  margin-bottom: 18px;
  margin-top: 18px;
  bottom: 0;
}

.column-heading {
 color: white;
}

.column-links {

}

.social-icon {

}

.column-link {

}
